@use 'sass:math';

// インナー幅
$innerWidth: 1040px;

// 余白
$padding-pc: 25px;
$padding-sp: 12px;

// フォント
$font-main: 'Noto Sans JP', sans-serif;
$font-en: 'Plus Jakarta Sans', sans-serif;

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;
$ex-bold: 800;

// 色指定
$black: #000;
$white: #fff;
$red: #880805;
$light_grey: #f3f3f3;


// ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}