@use 'global' as *;
.c-people-card {
  display: inline-block;
  aspect-ratio: 520/620;
  width: 100%;
  position: relative;

}
.c-people-card__img {
  aspect-ratio: 520/620;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
}

.c-people-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-people-card__inner {
  padding-left: myrem(20);
  padding-right: myrem(20);
  padding-bottom: myrem(20);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  
  @include mq('md') {
    padding-left: myrem(48);
    padding-right: myrem(48);
    padding-bottom: myrem(48);
  }
}

.c-people-card::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,.7) 100%);
}

.c-people-card__label,
.c-people-card__category {
  font-weight: $regular;
  font-size: min(1.111vw, 16px);
  line-height: calc(18/16);
  padding: myrem(16) myrem(8);
  background-color: $white;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  z-index: 1;
}



.c-people-card__category {
  top: 0;
  left: myrem(20);
  letter-spacing: .14em;

  @include mq('md') {
    left: myrem(46);
  }
}

.c-people-card__label {
  top: 0;
  left: myrem(50);
  letter-spacing: .04em;

  @include mq('md') {
    left: myrem(86);
  }
}

.c-people-card__text {
  margin-top: auto;
  color: $white;
  letter-spacing: .04em;
  font-weight: $bold;
  font-size: min(2.607vw, #{myrem(20)});
  position: relative;
  z-index: 1;
  white-space: nowrap;
  
  @include mq('md') {
    font-size: min(2.222vw, #{myrem(32)}); //カンプ確認
    // font-size: myrem(32);
  }
}

