@use 'global' as *;

.p-footer {
  padding-top: myrem(40);
  padding-bottom: myrem(40);

  @include mq('md') {
    padding-top: myrem(70);
    padding-bottom: myrem(70);
  }
}

.p-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include mq('md') {
    padding-left: myrem(47);
    padding-right: myrem(47);
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }
}

.p-footer__logo {
  width: myrem(157);
  margin: 0 auto;

  @include mq('md') {
    margin: initial;
  }
}

.p-footer__contract {
  display: flex;
  flex-direction: row;
  margin-top: myrem(20);
  gap: myrem(20);
  
  @include mq('md') {
    margin-top: myrem(57.5);
    flex-direction: row;
    gap: myrem(40);
  }
}
.p-footer__contract a {
  font-size: myrem(13);
  font-weight: $regular
}

.p-footer__right {
  margin-top: myrem(20);
}

.p-footer__items {
  display: flex;
  flex-direction: column;
  gap: myrem(16);
  align-items: center;

  @include mq('md') {
    flex-direction: row;
    gap: myrem(40);
  }
}

.p-footer__item {
  position: relative;
  font-size: myrem(16);
  font-weight: $regular;
}

.p-footer__item::after {
  @include mq('md') {
    position: absolute;
    bottom: myrem(-5);
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    height: 2px;
    transform-origin: center top;
    transition: .3s ease;
    width: myrem(0);
    background-color: $red;
  }
}

.p-footer__item:hover::after {
  @include mq('md') {
    // width: calc(100% - #{myrem(20)});
    width: 100%;
  }
}

.p-footer__item:hover {
  @include mq('md') {
    opacity: 1;

  }
}



.p-footer__copyright {
  margin-top: myrem(20);

  @include mq('md') {
    margin-top: myrem(62);
    text-align: right;
  }
}



