@use 'global' as *;

.p-menu__item {
  font-size: myrem(15);
  font-weight: $regular;
}

.p-menu__item + .p-menu__item {
  margin-top: myrem(32);
}

.p-menu__btn {
  margin-top: myrem(32);
  background-color: $black;
  color: $white;
  padding: myrem(12) myrem(36);
  font-weight: $medium;
  letter-spacing: .04em;
  text-transform: uppercase;
}

