@use 'global' as *;
.p-sidebar {
  position: relative;
  top: myrem(14);

}

.p-sidebar__items {
  position: sticky;
  top: myrem(100);
}

.p-sidebar__item + .p-sidebar__item {
  margin-top: myrem(16);

  @include mq('md') {
    margin-top: myrem(27);
  }
}


