@use 'global' as *;

.p-top-message {
  position: relative;
  padding-top: myrem(56);
  padding-bottom: myrem(56);
  margin-bottom: myrem(160);
  @include mq('md') {
    margin-bottom: myrem(103);
    margin-top: myrem(-330);
    padding-top: myrem(330);
    padding-bottom: myrem(80);
    min-height: myrem(1426);
  }
}

.p-top-message::before {
  position: absolute;
  background: linear-gradient(150deg, rgba(#000,1) 50%, rgba(#580F14,1) 100%);
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  width: calc((351 / 375) * 100%);
  content: "";
  @include mq('md') {
    width: calc((1360 / 1440) * 100%);
  }
}

.p-top-message__contents {
  // position: relative;

  @include mq('md') {
  }
}

* {
  margin: 0;
  padding: 0;
}
.wrap { 
  width:100vw;
  height:100vh;
  background-color:#03085C;
   
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content {      
  width:auto;
  height: auto;
}
p {
  font-size: 18px;
  color: #fff;
  line-height: 3em;
}

/*以下フェードイン表示の指定*/
.fadein {
  opacity: 0;
  animation: fadein 3s ease forwards;
}
@keyframes fadein {
  100% {  opacity: 1;}
}

/*以下遅延の指定*/
.text01 {animation-delay: .5s;}
.text02 {animation-delay: .7s;}
.text03 {animation-delay: 1s;}
.text04 {animation-delay: 1.2s;}
.text05 {animation-delay: 1.4s;}
.text06 {animation-delay: 1.6s;}
.text07 {animation-delay: 1.8s;}
.text08 {animation-delay: 2s;}
.text09 {animation-delay: 2.2s;}
.text10 {animation-delay: 2.4s;}

.p-top-message__bg-text {
  font-size: myrem(70);
  letter-spacing: .08em;
  font-weight: $ex-bold;
  font-family: $font-en;
  color: rgba($color: $white, $alpha: 0.1);
  line-height: 1;
  position: absolute;
  transform: translateY(myrem(-44));
  @include mq('md') {
    font-size: myrem(240);
    transform: translate(myrem(-120), myrem(-120));
  }
}

.p-top-message__body {
  padding-right: myrem(23);

  @include mq('md') {
    padding-right: initial;
    margin-top: myrem(176);
  }

}

.p-top-message__title {
  color: $white;
  font-weight: $bold;
  font-size: myrem(22);
  line-height: 1.7;

  @include mq('md') {
    font-size: myrem(48);
  }

}

.p-top-message__text {
  color: $white;
  font-size: myrem(16);
  line-height: 2;
  font-weight: $regular;
  margin-top: myrem(24);
  
  @include mq('md') {
    font-size: myrem(22);
    line-height: 2.6;
    margin-top: myrem(56);

  }
}

.p-top-message__img {
  aspect-ratio: 323/182;
  width: calc((323 / 375) * 100%);
  // width: 86.133vw;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: translateY(myrem(160));
  z-index: -1;

  @include mq('md') {
    aspect-ratio: 682/384;
    width: calc((682 / 1440) * 100%);
    transform: translateY(myrem(103));
    // bottom: myrem(-103);
  }
}

.p-top-message__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

