@use 'global' as *;
.p-top-company {
  position: relative;
  @include mq('md') {
    width: calc((1240 / 1440) * 100%);
    // padding-bottom: myrem(200);
  }
}

.p-top-company__en-title {
  @include mq('md') {
    position: absolute;
    transform: rotate(270deg);
    top: 0;
    right: 0;
  }
}

.p-top-company__img {
  position: absolute;
  z-index: 1;

  @include mq('md') {
    width: calc((670 / 1240) * 100%);
    aspect-ratio: 670/450;
    // top: 0;
    // left: myrem(80);
  }
}


.p-top-company__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-company__img-bg {
  position: relative;
  z-index: -1;
  
  @include mq('md') {
    width: calc((1080 / 1240) * 100%);
    margin-left: calc(50% - 50vw);
    // max-height: myrem(620);
    aspect-ratio: 1080/620;
    top: myrem(95);
  }
}

.p-top-company__img-bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.6);

}

.p-top-company__img-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-company__body {
  background-color: $white;
  position: absolute;
  z-index: 2;

  @include mq('md') {
    width: calc((600 / 1240) * 100%);
    padding-top: myrem(64);
    padding-bottom: myrem(64);
    padding-left: myrem(64);
    right: 0;
    bottom: 0;
  }
}

.p-top-company__text {
  font-size: myrem(16);
  font-weight: $regular;
  line-height: 1.9;
  margin-top: myrem(16);

  @include mq('md') { 
    margin-top: myrem(24);
  }
}

.p-top-company__btn {
  margin-top: myrem(16);

  @include mq('md') {
    margin-top: myrem(40);
  }
}

