@use 'global' as *;
.p-top-recruit {
  position: relative;
  background: linear-gradient(90deg, rgba(#000,1) 0%, rgba(#580F14,1) 100%);
  padding-top: myrem(60);
  padding-bottom: myrem(140);

  @include mq('md') {
    padding-top: myrem(64);
    padding-bottom: myrem(233);
  }
}

.p-top-recruit__title {
  text-align: center;
  position: relative;

  @include mq('md') {
    margin-top: myrem(96);
  }
  
}

.p-top-recruit__title .c-section-en-title {
  position: absolute;
  bottom: myrem(-5);
  left: 50%;
  transform: translateX(-50%);
  
  @include mq('md') {
    bottom: myrem(-10);
  }
}

.p-top-recruit__items {
  display: flex;
  flex-direction: column;
  gap: myrem(30);
  margin-top: myrem(30);
  max-width: myrem(300);
  margin-left: auto;
  margin-right: auto;

  @include mq('md') {
    flex-direction: row;
    justify-content: center;
    gap: myrem(64);
    margin-top: myrem(40);
  }
}

