@use 'global' as *;

.p-top-company {
  position: relative;
  margin-bottom: myrem(200);
  @include mq('md') { 
    margin-bottom: myrem(300);
  }
}

.p-top-company__en-title {
  // position: relative;
  position: absolute;
  z-index: 2;
  top: -21%;

  @include mq('md') {
    transform-origin: 100% 100%;
    transform: rotate(270deg);
    top: -35%;
    overflow: hidden;
    right: calc(50% - 50vw);
  }
}

// 背景画像
.p-top-company__img-bg {
  position: relative;
  top: myrem(100);
  z-index: -1;

  @include mq('md') {
    top: myrem(95);
    aspect-ratio: 1080/620;
    max-height: myrem(620);
    width: 75%;
  }
}

.p-top-company__img-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-company__img-bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.p-top-company__contents {
  height: 100%;
}

// flex部分
.p-top-company__content {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  
  @include mq('md') {
    width: calc((1160 / 1440) * 100%);
    left: myrem(80);
  }
}

// 重なった画像
.p-top-company__img {
  margin-right: myrem(20);
  width: 95%;
  box-shadow: 0 myrem(4) myrem(16) 0 rgba($color: #000000, $alpha: 0.08);


  
    @include mq('md') {
      aspect-ratio: 670/450;
      width: 100%;
      max-width: calc((670 / 1160) * 100%);
      // position: absolute;
      // top: 0;
      // left: myrem(80);
  }
}

.p-top-company__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// テキスト部分
.p-top-company__body {
  width: 95%;
  display: block;
  background-color: $white;
  padding: myrem(32) myrem(40);
  margin-top: myrem(-50);
  position: relative;
  z-index: 1;
  margin-left: auto;
  box-shadow: 0 myrem(4) myrem(16) 0 rgba($color: #000000, $alpha: 0.08);

  
  @include mq('md') {
    position: absolute;
    right: 0;
    bottom: myrem(-154);
    width: calc((600 / 1160) * 100%);
    padding: myrem(64) myrem(80);
    margin-left: initial;
  }
}

.p-top-company__title {

}


.p-top-company__text {
  color: $black;
  font-size: myrem(16);
  font-weight: $regular;
  line-height: 1.9;
  margin-top: myrem(16);

  @include mq('md') { 
    margin-top: myrem(24);
  }
}

.p-top-company__btn {
  margin-top: myrem(16);

  @include mq('md') {
    margin-top: myrem(40);
  }
}