@use 'global' as *;
// ふわっとアニメーション
.u-fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:.8s;
  animation-fill-mode:forwards;
  opacity: 0;
  }
  @keyframes fadeUpAnime{
    from {
      opacity: 0;
      transform: translateY(myrem(50));
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  